/* LINKS FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
}

body {
  background-color: #0d0d0d;
  font-family: "poppins";
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text, .img {
  color: #fff;
  font-size: 3.5vh;
  text-align: center;
}

h1 {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
  color: #fff;

  font-size: 30vh;
}
h1:after {
  content: "";
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 25px;
  width: 4px;
  animation: cursor 0.4s infinite;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 350px){
  h2{
    font-size:2vh;
  }
}
