/* LINKS FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* DEFINIÇÕES CSS */
:root{
  --header-height: 3rem;

  /* CORES */
  --hue-color: 250;

  --cor-principal:#201b2c ;
  --cor-do-titulo:#391e5c;
  
  /* FONTS */
  --font-principal: 'Poppins', sans-serif;

  /* TAMANHOS */
  --font-size-grande:2rem;
  --h1-font-size:1.5rem;
  --h2-font-size:1.25rem;
  --h3-font-size:1.125rem;
  --font-size-normal:.938rem;
  --font-size-pequena:.813rem;
  --font-size-menor:.75rem;

  /* FONT WEIGHT */
  --font-medium:500;
  --font-semi-bold:600;

  /* MARGEM DE BAIXO*/
  --mb-0-25:4px;
  --mb-0-5:8px;
  --mb-0-75:12px;
  --mb-1:16px;
  --mb-1-5:24px;
  --mb-2:32px;
  --mb-2-5:40px;
  --mb-3:48px;

  /* Z-INDEX */
  --z-tooltip:10;
  --z-fixed:100;
  --z-modal:1000;

}

/* DEFINIÇÕES CSS PARA DISPOSITIVOS*/
@media screen and (min-width:968px) {
  :root{
    --font-size-grande:48px;
    --h1-font-size:36px;
    --h2-font-size:24px;
    --h3-font-size:20px;
    --font-size-normal:16px;
    --font-size-pequena:14px;
    -font-size-menor:13px;
  }
}

/* RESET PAGE */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CONFIGURAÇÕES PÁGINA */
html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--font-principal);
  font-size: var(--font-size-normal);
  background-color: var(--cor-principal);
  color: var(--cor-do-texto);
}

h2{
  color: var(--cor-do-titulo);
  font-size: 3.5vw;
  text-transform: uppercase;
}


.text{
  margin:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
  width: 30vw;
  height: auto;
}

/* DISPOSITIVOS */

/* FOR SMALL DEVICES */

@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }

  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }

  .home__blob{
    width: 180px;
  }

  .skills__titles{
    font-size: var(--font-size-normal);
  }

  .qualification__data{
    gap: .5rem;
  }

}

/* FOR MEDIUM DEVICES */
@media screen and (min-width:568px){
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data{
    grid-column: initial;
  }

  .home__blob-img{
    order: 1;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .contact__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__section{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

@media screen and (min-width:768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }

  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom: initial;
  }

  .header,
  .main{
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  #nav-close{
    display:none;
  }

  .nav__icon,
  .nav__toggle{
    display: none;
  }

  .nav__list{
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu{
    margin-left: auto;
  }

  .change-theme{
    margin: 0;
  }

  .home__container{
    row-gap: 5rem;
  }

  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__blob{
    width: 270px;
  }

  .home__scroll{
    display: block;
  }

  .home__scroll-button{
    margin-left: 3rem;
  }

  .about__container{
    column-gap: 5rem;
  }

  .about__img{
    width: 350px;
  }

  .about__description{
    text-align: initial;
  }

  .about__info{
    justify-content: space-between;
  }

  .qualification__buttons{
    margin: 0 var(--mb-1);
  }

  .qualification__tabs{
    justify-content: center;
  }

  .qualification__section{
    grid-template-columns: .5fr;
  }
}

/* FOR LARGE DEVICES */
@media screen and (min-width: 1042px){
  .header,
  .main{
    padding: 0;
  }

  .home__blob{
    width: 320px;
  }

  .home__social{
    transform: translateY(-6rem);
  }

  #nav-close{
    display:none;
  }
  
}